<meta http-equiv="refresh" content="4" />
<style>
  .all { padding: 10px; } .header { font-size: 50; background-color: #7688a6;
  position: fixed; width: 100%; height: 50px; display: flex; padding: 0px 8px
  7px 8px; font-weight: bold;} h4 {color: darkgreen} .side {height: 100%; width:
  300px; position: fixed; z-index: 1; top: 50px; left: 20px; overflow-x: scroll;
  padding-top: 20px; overflow-y: scroll;} .main{margin-left: 400px; padding:
  50px 10px;} a {color: inherit; text-decoration: none;} .grid {display: grid;
  grid-template-columns: auto auto; padding-right: 50px; } .grid_item
  {background-color: lightgray; padding: 10px; margin: 15px; width: 30vw;}
  .student {padding-bottom: 5px;} .code { white-space: pre-line; font-family:
  monospace;} .student_list{overflow:auto; height: 175px; border:1px solid #ccc;
  padding-left: 15px;}
</style>
<div class="header">
  <a href="/">
    Voltron
  </a>
</div>
<div class="all">
  <div>
    <div class="side">
      <h2>Instructor: {{{name}}}</h2>
      <hr />
      <div class="register_student">
        <h3>
          Register a new student:
        </h3>
        <form action="/register-student" method="post" accept-charset="utf-8">
          <input type="hidden" name="registrar_name" value={{name}} />
          <label>Student name:
            <p>
              <input name="registrant_name" />
            </p>
          </label>
          <input type="submit" value="Submit" />
        </form>
        {{#if registered_student}}
          <h4>
            Successfully registered new student with username:
            <i>{{{registered_name}}}</i>
          </h4>
        {{/if}}
      </div>
      <hr />
      {{#if admin}}
        <div class="register_instructor">
          <h3>
            Register a new instructor:
          </h3>
          <form
            action="/register-instructor"
            method="post"
            accept-charset="utf-8"
          >
            <input type="hidden" name="registrar_name" value={{name}} />
            <label>Instructor name:
              <p>
                <input name="registrant_name" />
              </p>
            </label>
            <input type="submit" value="Submit" />
          </form>
          {{#if registered_instructor}}
            <h4>
              Successfully registered new instructor with username:
              <i>{{{registered_name}}}</i>
            </h4>
          {{/if}}
        </div>
        <hr />
      {{/if}}
      <div class="student_list">
        <h3>
          Students:
        </h3>
        {{#each students}}
          <div class="student">
            {{this.name}}:
            {{this.group_id}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class="main">
      <h2>
        Student Code:
      </h2>
      <div class="grid">
        {{#each student_groups}}
          <div class="grid_item">
            <b>
              Group:
              {{this.group_id}}
            </b>
            <p class="code">
              {{this.code}}
            </p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>