<style>
  .all { padding: 10px; } h1 { font-size: 50; display: inline; text-align:
  center; padding: 10px; } .header_background { background-color: #7688a6; } h4
  {color: darkgreen} .side {height: 100%; width: 300px; position: fixed;
  z-index: 1; top: 125px; left: 20px; overflow-x: hidden; padding-top: 20px;}
  .main{margin-left: 400px; padding: 0px 10px;}
</style>
<div class="header_background">
  <h1>Voltron</h1>
</div>
<div class="all">
  <h2>Instructor: {{{name}}}</h2>
  <div>
    <div class="side">
      <hr />
      <div class="register_student">
        <h3>
          Register a new student:
        </h3>
        <form action="/register-student" method="get" accept-charset="utf-8">
          <input type="hidden" name="name" value={{name}} />
          <label>Student name:
            <p>
              <input name="student_name" />
            </p>
          </label>
          <input type="submit" value="Submit" />
        </form>
        {{#if registered_student}}
          <h4>
            Successfully registered new student with username:
            <i>{{{registered_name}}}</i>
          </h4>
        {{/if}}
      </div>
      <hr />
      {{#if admin}}
        <div class="register_instructor">
          <h3>
            Register a new instructor:
          </h3>
          <form
            action="/register-instructor"
            method="get"
            accept-charset="utf-8"
          >
            <label>Instructor name:
              <p>
                <input name="name" />
              </p>
            </label>
            <input type="submit" value="Submit" />
          </form>
          {{#if registered_instructor}}
            <h4>
              Successfully registered new instructor with username:
              <i>{{{registered_name}}}</i>
            </h4>
          {{/if}}
        </div>
      {{/if}}
    </div>
    <div class="main">
      Students
      {{#each students}}
        <p>
          {{this.name}}:
          {{this.group_id}}
        </p>
      {{/each}}
    </div>
  </div>
</div>